<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
<link rel="stylesheet" href="/css/forms.css">
</head>
<body>
<% if(adminView) { %>
    <%- include('../includes/admin-navigation.ejs') %>
<% } else {%>
    <%- include('../includes/user-navigation.ejs') %>
<% } %>
<main>
    <% if(products.length > 0) { %>
        <div class="grid">
            <% for(let product of products) { %>
                <article class="card product-item">
                    <header class="card__header">
                        <h1 class="product__name">
                            <%= product.name %>
                        </h1>
                    </header>
                    <div class="card__image">
                        <img src="/<%= product.imageUrl %>" alt="<%= product.name %>">
                    </div>
                    <div class="card__content">
                        <h2 class="product__price">
                            <%= product.price %>$
                        </h2>
                    </div>
                    <div class="card__actions">
                        <% if(adminView) { %>
                            <a href="/admin/edit-item/<%= product._id %>" class="btn">Edit</a>
                            <input type="hidden" value="<%= product._id %>" name="prodId">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="btn" type="button" onclick="deleteProduct(this)">Delete</button>
                        <% } else {%>
                            <a href="/products/<%= product._id %>" class="btn">Details</a>
                            <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                        <% } %>
                    </div>
                </article>
            <% } %>
        </div>
        <%- include('../includes/pagination.ejs', {currentPage, nextPage, previousPage, lastPage, hasNextPage, hasPreviousPage}) %>
    <% } else{ %>
        <h1>No Products Found!</h1>
    <% } %>
</main>

<%- include('../includes/end.ejs') %>
<script src="/js/admin.js"></script>